
<ion-content [fullscreen]="true">


  <ion-grid>

      <ion-row>

        <ion-col>
          <ion-button [disabled]="!pri_empezar" color="danger" id="Empezar" (click)="empezar()">Empezar</ion-button>

          <ion-button [disabled]="!parar_de_pedir" (click)="parar()" class="decision" color="danger">parar</ion-button>

        </ion-col>

        <ion-col class="stand">
          @if(parar_de_pedir == true){
          <img id="revesrso" src="../../assets/Baraja/reverso_carta.png" alt="">
            }
          @if(parar_de_pedir == false){
            <img src="../../assets/Baraja/{{mano_jugador[1].img}}" alt="">
            }
        </ion-col>

        <ion-col>
          
        </ion-col>

        <ion-col class="stand">
          @if(mano_croupier.length >= 1){
            <img src="../../assets/Baraja/{{mano_jugador[0].img}}" alt="">
            }
        </ion-col>

        <ion-col>
          
        </ion-col>

        <ion-col class="stand">
          
        </ion-col>

        <ion-col>
          
        </ion-col>

        <ion-col class="stand">
          
        </ion-col>

        <ion-col>
          
        </ion-col>

        <ion-col class="stand">
          
        </ion-col>
            

        <ion-col>
          <p>{{money}}€</p>
        </ion-col>

      </ion-row>

  </ion-grid>

  <ion-grid>
    <ion-row>
    <ion-col>
      <h1>Black Jack</h1>
    </ion-col>


    <ion-col>

      <p id="apuestas">{{apuestas}}</p>
      <img id="fichas" src="" alt="">

    </ion-col>

    <ion-row>

      <ion-col>
        <img id="paquete" (click)="pedir()" src="../../assets/Baraja/baraja_para_pedir.png" alt="">
      </ion-col>

    <ion-col>
      <ion-input [(ngModel)]="dinero" label="Cuanto apuestas" type="number"></ion-input> 
    </ion-col>


      <ion-col>
        <ion-button [disabled]="!apuesta" (click)="enviarDinero()" id="aceptar">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button> 
      </ion-col>
  </ion-row>


  </ion-row>

  </ion-grid>

  <ion-grid>

    <ion-row>

      <ion-col>
        
      </ion-col>
        
      <ion-col class="stand">
        @if(mano_jugador.length >= 1){
        <img src="../../assets/Baraja/{{mano_jugador[0].img}}" alt="">
        }
      </ion-col>

      <ion-col>
        
      </ion-col>

      <ion-col class="stand">
        @if(mano_jugador.length >= 2){
          <img src="../../assets/Baraja/{{mano_jugador[1].img}}" alt="">
          }
      </ion-col>

      <ion-col>
        
      </ion-col>

      <ion-col class="stand">
        @if(mano_jugador.length >= 3){
          <img src="../../assets/Baraja/{{mano_jugador[2].img}}" alt="">
          }
      </ion-col>

      <ion-col>
        
      </ion-col>

      <ion-col class="stand">
        @if(mano_jugador.length >= 4){
          <img src="../../assets/Baraja/{{mano_jugador[3].img}}" alt="">
          }
      </ion-col>

      <ion-col>
        
      </ion-col>

      <ion-col class="stand">
        @if(mano_jugador.length >= 5){
          <img src="../../assets/Baraja/{{mano_jugador[4].img}}" alt="">
          }
      </ion-col>

      <ion-col>
        
      </ion-col>

    </ion-row>

</ion-grid>


</ion-content>
