
#fondo {
    background-image: url("../../assets/fondo.jpg");
}

.stand {
    margin-top: 1.5rem;
    background-color: 121212;
    height: 13rem;
}
#revesrso{
    height: 100%;
    width: 110%;
}

#has_ganado {
    font-family: "Wanted M54";
    src: url(/../trabajo-final/src/assets/Wanted\ M54.ttf);
    font-size: 4rem;
    color: green;
    position:absolute;
    margin-top: 33%;
    margin-left: 35%;
    z-index: 1000;
}

#has_perdido {
    font-family: "Wanted M54";
    src: url(/../trabajo-final/src/assets/Wanted\ M54.ttf);
    font-size: 4rem;
    color: red;
    position:absolute;
    margin-top: 33%;
    margin-left: 35%;
    z-index: 1000;
}

.reinicio {
    font-family: "Wanted M54";
    src: url(/../trabajo-final/src/assets/Wanted\ M54.ttf);
    font-size: 1.2rem;
    position:absolute;
    margin-top: 38.5%;
    margin-left: 41%;
    z-index: 1000;
}

h1 {
    font-family: "Wanted M54";
    src: url(/../trabajo-final/src/assets/Wanted\ M54.ttf);
    font-size: 4rem;
}

#Empezar {
    margin-top: 2.5rem;
    font-family: "Wanted M54";
    src: url(/../trabajo-final/src/assets/Wanted\ M54.ttf);
    font-size: larger;
    width: 90%;
    height: 40%;
}

p {
    font-family: "Wanted M54";
    src: url(/../trabajo-final/src/assets/Wanted\ M54.ttf);
    font-size: 1.3rem;
    margin-top: 11%;
}

ion-input {
    font-family: "Wanted M54";
    src: url(/../trabajo-final/src/assets/Wanted\ M54.ttf);
    font-size: 1.3rem;
    margin-top: 14.5%; 
}

.decision {
    font-family: "Wanted M54";
    src: url(/../trabajo-final/src/assets/Wanted\ M54.ttf);
    font-size: 1rem;
    width: 70%;
}

#aceptar {
    margin-right: 67%;
    width: 9rem;
    margin-top: 14.5%;
    cursor: pointer;
}

#apuestas {
    text-align: center;
}

#paquete {
    width: 40%;
    height: 90%;
    margin-right: auto;
    cursor: pointer;
}
