
ion-content {
    --background:none;
    background-image: url('../../assets/fondo.jpg');
    height: 100%;
    background-size: cover;
  }

ion-button {
    font-family: "Wanted M54";
    src: url(/../trabajo-final/src/assets/Wanted\ M54.ttf);
    font-size: 4rem;
    margin-top: 13%;
    margin-left: 14%;
}


#groupier {
    margin-top: 7.5rem;
    height: 15rem;
    width: 35rem;
    margin-left: 2rem;
}

#baraja_cartas_muestra {
    margin-top: 5.5rem;
    margin-left: 10rem;
    width: -20%;
    height: -20%;
}
