

h1 {
    text-align: center;
    font-family: "Wanted M54";
    src: url(/../trabajo-final/src/assets/Wanted\ M54.ttf);
    font-size: 4rem;
}

h2 {
    text-align: center;
    font-family: "Wanted M54";
    src: url(/../trabajo-final/src/assets/Wanted\ M54.ttf);
    font-size: 2rem;
    background-color: #0b6730;
}

#id_grid_ranking {
    width: 17%;
}

p {
    text-align: center;
    font-family: "Wanted M54";
    src: url(/../trabajo-final/src/assets/Wanted\ M54.ttf);
    font-size: 1rem;
}

#start {
    text-align: center;

#comenzar {
    height: 6rem;
    width: 20rem;
    font-family: "Wanted M54";
    src: url(/../trabajo-final/src/assets/Wanted\ M54.ttf);
    font-size: 3rem;
}

ion-row {
    margin-top: 2rem;
    margin-left: 27%;
}

ion-input {
    font-family: "Wanted M54";
    src: url(/../trabajo-final/src/assets/Wanted\ M54.ttf);
    font-size: 1.3rem;
}
}

#groupier {
    margin-top: 6rem;
    height: 15rem;
    width: 35rem;
    margin-left: 2rem;
}

#baraja_cartas_muestra {
    margin-top: 4rem;
    margin-left: 10rem;
    width: -20%;
    height: -20%;
}

.posicion {
    width: 5rem;
    height: 5rem;
    margin-left: 19rem;
}

#nombre {
    margin-left: 44.5rem;
}

.info_nom {
    margin-right: 1rem;
}

.info {
    margin-right: 13.5rem;
}