
<ion-content [fullscreen]="true" id="fondo">
  <ion-grid>
  
    <ion-col>
  
        <h1>Black Jack</h1>
  
    </ion-col>
        
      <ion-grid id="start">
        <ion-col>
        
          <ion-button size="large" color="danger" id="comenzar" (click)="irAlJuego()">START</ion-button>
  
        </ion-col>
  
      </ion-grid>
  
  </ion-grid>
  
  <ion-grid>
    <ion-row>
  
      <ion-col>
        <img src="../../assets/black jack cartas de muestra.png" id="baraja_cartas_muestra">
      </ion-col>
  
      <ion-col>
        <img src="../../assets/man-dealer.png" id="groupier">
      </ion-col>
  
    </ion-row>
  </ion-grid>
  
  </ion-content>
  